html, body {
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
	padding: 10px;
	margin: 10px;
}
div {
	box-sizing: border-box;
}
#mapDiv {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}
.esriRTL label {
    /*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}
#mapDiv_graphics_layer path {
    stroke: hotpink;
    /* #c03241;*/
    stroke-opacity: 0.8;
    stroke-width: 8px;
}
.controls {
	border: 1px solid black;
    position: fixed;
    top: 50px;
    right:50px;
    min-width: 200px;
    min-height: 100px;
    z-index: 20;
    background: white;
    padding: 0px;
    box-shadow: 4px 4px 8px rgba(50, 50, 50, 0.85);
    border-radius: 2px;
}
.selected {
	background-color: #96a2c0;
}
.listitem {
	border-color: grey;
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	vertical-align: middle;
	padding: 2px;
	font-size: 10px;
}