html, body {
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
	padding: 10px;
	margin: 10px;
}
div {
	box-sizing: border-box;
}
#mapDiv {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}
.esriRTL label {
    /*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}
#mapDiv_graphics_layer path {
    stroke: #FF69B4;
    stroke-opacity: 0.8;
    stroke-width: 8px;
}
.controls {
	border: 1px solid black;
    position: fixed;
    top: 50px;
    right:50px;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 90%;
    z-index: 20;
    background: white;
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(50, 50, 50, 0.85);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    visibility: hidden;
    padding-bottom: 30px;
}
.selected {
	background-color: #FF69B4 !important;
}
.notselected {
	background-color: #4f81bd;
}

.listitem {
	vertical-align: middle;
	padding: 2px;
	margin: 4px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	float:left;
	width: 30.5%;
}